bin/lpmtDebug.app/
.DS_Store
bin/lpmt
bin/lpmt_debug
bin/lpmt.app/
build/
lpmt.qbs.user
bin/data/timeline/

.vs/
bin/FreeImage.dll
bin/fmodex64.dll
bin/fmodexL64.dll
bin/libsndfile-1.dll
bin/lpmt_debug.exe
bin/lpmt_debug.exp
bin/lpmt_debug.lib
bin/lpmt_debug.pdb
obj/
bin/fmodex.dll
bin/fmodexL.dll
bin/lpmt.exe
bin/lpmt.exp
bin/lpmt.iobj
bin/lpmt.ipdb
bin/lpmt.lib


