bin/lpmtDebug.app/
.DS_Store
bin/lpmt
bin/lpmt_debug
build/
lpmt.qbs.user
bin/data/0_alpha.xml
bin/data/0_blu.xml
bin/data/0_color.xml
bin/data/0_green.xml
bin/data/0_red.xml
bin/data/0_trigger.xml
bin/data/1_alpha.xml
bin/data/1_blu.xml
bin/data/1_color.xml
bin/data/1_green.xml
bin/data/1_red.xml
bin/data/1_trigger.xml
bin/data/2_alpha.xml
bin/data/2_blu.xml
bin/data/2_color.xml
bin/data/2_green.xml
bin/data/2_red.xml
bin/data/2_trigger.xml
bin/data/3_alpha.xml
bin/data/3_blu.xml
bin/data/3_color.xml
bin/data/3_green.xml
bin/data/3_red.xml
bin/data/3_trigger.xml

.vs/
bin/FreeImage.dll
bin/fmodex64.dll
bin/fmodexL64.dll
bin/libsndfile-1.dll
bin/lpmt_debug.exe
bin/lpmt_debug.exp
bin/lpmt_debug.lib
bin/lpmt_debug.pdb
obj/
bin/fmodex.dll
bin/fmodexL.dll


